.poster {
  width: 250px;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.dataMovie {
  margin-bottom: 10px;
}

.span {
  color: #646cff;
}

@media (max-width: 480px) {
  .cardContainer {
    gap: 10px;
    flex-direction: column; /* стилі для маленьких екранів */
  }
  .poster {
    width: 100%;
  }
}
