.input {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px;
  font-size: 15px;
  width: 300px;
}

.buttonSearch {
  margin: 15px 0;
}

@media (max-width: 480px) {
  .input {
    width: 100%;
  }
}
